<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{/layout/header :: headFragment}"></div>
  <style>
    li {
          float: left;
       }
  </style>
</head>
<body>
<div th:replace="~{/layout/navbar :: navFragment}"></div>
<div class="container">
  <div class="row mb-4 ms-5 mt-3">
    <div class="border-bottom mb-4">
      <h4 class="fw-bold mb-3">외국 도서</h4>
    </div>
    <div class="mt-2">
      <ol class="prod_list">
            <span th:each="book : ${books}">
              <li class="mb-3 ms-2 me-2">
                <a th:href="@{/goods/book/{goodsId}/detailBook(goodsId=${book.id})}">
                  <div class="text-center ms-4 me-3 mb-2">
                    <img th:src="@{|${book.fileStore.filepath}|}" style="width: 200px; height: 270px;">
                    <div style="width: 200px; height: 74px;">
                      <h6 class="mt-3 ms-1 text-dark text-center fw-bold" style="font-size:15px; width: 190px;" th:text="*{book.name}">아주 희미한 빛으로도</h6>
                      <h6 class="ms-1 text-secondary text-center" style="font-size:14px; width: 190px;" th:text="*{book.author}">류재향</h6>
                      <h6 class="ms-1 text-dark fw-bold" style="font-size:14px;">
                        <span class="text-dark fw-bold" style="font-size:16px;" th:text="*{book.price}" data-th-text="${#numbers.formatInteger(book.price, 3, 'COMMA')}">26,000</span>원
                      </h6>
                    </div>
                  </div>
                </a>
              </li>
            </span>
      </ol>
    </div>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
            <a class="page-link" th:href="@{/goods/book/foreignBooks(page=${currentPage - 1})}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == currentPage} ? 'active'">
            <a class="page-link" th:text="${page}" th:href="@{/goods/book/foreignBooks(page = ${page})}" >1</a>
          </li>
          <li class="page-item" th:classappend="${currentPage == endPage} ? 'disabled'">
            <a class="page-link" th:href="@{/goods/book/foreignBooks(page=${currentPage + 1})}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>
<div th:insert="~{/layout/footer :: footerFragment}"></div>
</html>