<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{/layout/header :: headFragment}"></div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{/layout/navbar :: navFragment}"></div>
  <div class="container">
    <div class="mb-3 mt-3">
      <p class="fw-bold fs-4" style="vertical-align:middle">주문 배송</p>
    </div>
    <div>
      <h6 class="mt-4 mb-2"><i class="me-1 bi bi-caret-right-fill"></i>전체 주문 내역</h6>
    </div>
    <div>
      <table class="text-center mb-4">
        <tr class="bg-light border-top" style="height: 40px;">
          <th style="width: 100px;"></th>
          <th style="width: 540px;">상품정보</th>
          <th style="width: 300px;">수량</th>
          <th style="width: 300px;">상품 금액</th>
        </tr>
        <tr class="cart_list mt-2 border-top border-bottom" th:each="order : ${findOrderList}">
          <td>
            <div class="mt-2 mb-2">
              <img th:src="@{|*{order.goods.fileStore.filepath}|}" style="width: 80px; height: 107px;">
            </div>
          </td>
          <td class="mt-1">
            <p th:text="*{order.goods.name}">책 제목 </p>
          </td>
          <td class="quantity" th:value="*{order.quantity}" th:text="${order.quantity}">수량</td>
          <td class="unit_price" th:text="*{order.goods.price}"
              data-th-text="${#numbers.formatInteger((order.goods.price * order.quantity), 3, 'COMMA') + '원'}">가격</td>
          <td>
        </tr>
      </table>
    </div>
    <div class="row ms-1 me-1 border-primary-subtle border" style="background-color: #D4E3F1;">
          <span class="col-6 mt-4 mb-4 border-primary-subtle border-end text-center">
             <h6 class="fw-bold" style="font-size: 22px;">최종 결제 금액</h6>
          </span>
      <span class="total_price col-6 mt-4 mb-4 text-center" style="height: 26.39px;">
            <strong class="price text-danger" style="font-size: 22px;">0 원</strong>
          </span>
    </div>
<!--    <form method="post">-->
      <input type="hidden" th:name="orderPrice">
      <input type="hidden" th:name="orderQuantity">
      <div>
        <h6 class="mt-4 mb-2"><i class="me-1 bi bi-caret-right-fill"></i>배송 정보</h6>
      </div>
      <div class="border-top">
        <table>
          <tr class="border-bottom">
            <th class="bg-light border-end" style="width: 200px;">
              <p class="ms-3 me-3 mt-3">주문자</p>
            </th>
            <td>
              <p id="order" th:field="${findMember.name}" class="mt-3 ms-3" style="width: 1000px;">홍길동</p>
            </td>
          </tr>
          <tr class="border-bottom">
            <th class="bg-light border-end" style="width: 200px;">
              <p class="ms-3 me-3 mt-3">주소</p>
            </th>
            <td>
              <p id="address" th:if="${findMember.basicAddress}" th:field="${findMember.basicAddress}" class="mt-3 ms-3">12345 서울특별시 xx동 12-34번지 123동 456호</p>
              <span class="mt-3" th:if="${#strings.isEmpty(findMember.basicAddress)}">
                  <h6 class="ms-2 fw-bold">내 정보 수정에서 배송 주소를 등록해주세요.</h6>
              </span>
            </td>
          </tr>
          <tr class="border-bottom">
            <th class="bg-light border-end" style="width: 200px;">
              <p class="ms-3 me-3 mt-3">휴대전화번호</p>
            </th>
            <td>
              <p id="phone" class="mt-3 ms-3" th:if="${findMember.phone}" th:field="${findMember.phone}">010-1234-5678</p>
              <span class="mt-3" th:if="${#strings.isEmpty(findMember.phone)}">
                  <h6 class="ms-2 fw-bold">내 정보 수정에서 휴대폰 번호를 등록해주세요.</h6>
              </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="mt-2 text-center">
        <button th:attr="onclick=|createOrder('${findMember.basicAddress}')|" type="button" class="btn btn-primary btn-lg">결제하기</button> <!--   -->
      </div>
<!--    </form>-->
  </div>
<script>
// 합계 계산
if ($('.cart_list').length) {
    var cartList = $('.cart_list')
    var targetTotal = $('.total_price .price');
    var totalPrice = 0;
    var orderQuantity = 0;

    // 상품 가격 * 상품 수량 합계
    for(let i = 0; i < cartList.length; i++) {
      var unitPrice = parseInt(document.getElementsByClassName('unit_price')[i].textContent.replace(',', ''));
      var unitCount = parseInt(document.getElementsByClassName('quantity')[i].textContent);

      totalPrice += unitPrice * unitCount;
      orderQuantity += unitCount;

      // 전체 주문 가격 & 상품 개수
      document.getElementsByName('orderPrice').value = totalPrice;
      document.getElementsByName('orderQuantity').value = orderQuantity;
    }

    localeTotalPrice = totalPrice.toLocaleString('ko-KR');
    targetTotal.text(localeTotalPrice + '원');
}

function createOrder(address) {
  var orderPrice = document.getElementsByName('orderPrice').value = totalPrice;

$.ajax ({
      type: "post",
      url: "/order/createOrder",
      cache: false,
      data: {
        "address" : address,
        "orderPrice" : orderPrice
      },
      success: function(res) {
        if (res == "ok") {
          alert("주문이 완료되었습니다.")
          location.href = '/myPage/orderHistoryList'
        }
      }
    });
  }
</script>
</body>
<div th:insert="~{/layout/footer :: footerFragment}"></div>
</html>