<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header>
  <style>
      a {
          text-decoration: none;
      }
  </style>
</header>
<body>
  <div th:fragment="navFragment" class="container-fluid" style="width: 1500px; height: 220px;">
    <div class="mb-2 d-flex justify-content-between">
      <!-- 최상단 바 시작 -->
      <div class="col-12 text-end">
        <ul class="navbar-nav">
        <div class="mt-2">
          <span th:unless="${#authorization.expr('isAuthenticated()')}">
            <a href="/login" class="me-3 link-secondary" style="font-size:13px">로그인</a>
            <a href="/join" class="me-3 link-secondary" style="font-size:13px">회원가입</a>
          </span>
          <span sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
            <a href="/logout" class="me-3 link-secondary" style="font-size:13px">로그아웃</a>
          </span>
          <span>
            <a href="/myPage/orderHistoryList" class="me-3 link-secondary" style="font-size:13px">마이페이지</a>
            <a href="/order/myCart" class="me-3 link-secondary" style="font-size:13px">장바구니</a>
            <a href="/order" class="me-3 link-secondary" style="font-size:13px">주문하기</a>
          </span>
          <span sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/goodsList}" class="me-3 link-secondary" style="font-size:13px">관리자</a>
          </span>
        </div>
        </ul>
      </div>
    </div>
    <div class="mb-4 border-bottom"></div>
    <!-- 로고 -->
    <div class="border-bottom">
      <div class="ms-5 mb-2 d-flex justify-content-between">
          <a href="/"><span class="fw-bold fs-1 text-primary" style="vertical-align:middle">YES48</span></a>
        <span class="mt-2">
          <!-- 검색창 -->
          <form th:object="${searchGoods}" method="get" th:action="@{/searchGoods(search = ${param.search})}">
            <div class="input-group ms-5 mt-1">
              <input id="search" class="form-control border border-end-0 border-primary border border-3"
                     placeholder="검색어를 입력해주세요." th:value="${param.search}"
                     th:name="search" type="text" style="width: 350px; height: 45px;">
              <span>
                <button id="search-button" class="bg-primary input-group-text border border-start-0 border-primary border border-3"
                  type="button" style="width: 60px; height: 45px;">
                  <i style="color: #ffffff" class="ms-2 bg-primary bi bi-search"></i>
                </button>
              </span>
            </div>
          </form>
        </span>
        <div class="me-5 mb-3">
          <!-- 기후책 이미지 링크 넣기 -->
          <a href="#" class="me-5"><img th:src="@{/images/logoBook.jpg}" style="width: 120px; height: 70px;"></a>
        </div>
      </div>
    </div>
    <!-- 책 종류 -->
    <div class="row mt-3 mb-3 text-center">
       <div class="col-4">
         <i class="bi bi-check-square-fill text-primary" style="display: none;"></i>
         <a href="/goods/book/domesticBooks" class="me-3 link-dark" style="font-size:17px">국내도서</a>
       </div>
       <div class="col-4">
         <i class="bi bi-check-square-fill text-primary" style="display: none;"></i>
         <a href="/goods/book/foreignBooks" class="me-3 link-dark" style="font-size:17px">외국도서</a>
       </div>
       <div class="col-4">
         <i class="bi bi-check-square-fill text-primary" style="display: none;"></i>
         <a href="/goods/music" class="me-3 link-dark" style="font-size:17px">음반</a>
       </div>
    </div>
      <div class="border-bottom border-primary"></div>
    </div>
  </nav>
</body>
<script>
  var searchWord = document.getElementById("search").value;
  const searchButton = document.getElementById("search-button");

  if (searchWord != '') {
    searchButton.setAttribute('type', 'submit');
  }
</script>
</html>