<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
  <style>
      a {
          text-decoration: none;
      }
  </style>
</header>
<body>
  <div th:fragment="navFragment" class="container-fluid" style="width: 1500px; height: 220px;">
    <div class="mb-2 d-flex justify-content-between">
      <!-- 최상단 바 시작 -->
      <div class="col-12 text-end">
        <ul class="navbar-nav">
        <div class="mt-2">
          <a href="/login" class="me-3 link-secondary" style="font-size:13px">로그인</a>
          <a href="/" class="me-3 link-secondary" style="font-size:13px">로그아웃</a>
          <a href="/join" class="me-3 link-secondary" style="font-size:13px">회원가입</a>
          <a href="/order/myCart" class="me-3 link-secondary" style="font-size:13px">장바구니</a>
          <a href="/order" class="me-3 link-secondary" style="font-size:13px">주문하기</a>
          <a href="/myPage/orderHistoryList" class="me-3 link-secondary" style="font-size:13px">마이페이지</a>
          <a th:href="@{/admin/goodsList}" class="me-3 link-secondary" style="font-size:13px">관리자</a>
        </div>
        </ul>
      </div>
    </div>
    <div class="mb-4 border-bottom"></div>
    <!-- 로고, 검색창 -->
    <div class="border-bottom">
      <div class="ms-5 mb-2 d-flex justify-content-between">
          <a href="/"><span class="fw-bold fs-1 text-primary" style="vertical-align:middle">YES48</span></a>
        <span>
          <!-- 검색창 -->
          <div class="input-group ms-5 mt-3">
            <input class="input-group-text bg-white border border-end-0 border-primary border border-3"
                   type="text" style="width: 350px; height: 36px;">
            <span type="button" class="bg-primary input-group-text border border-start-0 border-primary border border-3"
              style="width: 60px; height: 36px;"><i style="color: #ffffff" class="ms-2 bg-primary bi bi-search"></i></span>
          </div>
        </span>
        <div class="me-5">
          <!-- 기후책 이미지 링크 넣기 -->
          <a href="#" class="me-5"><img th:src="@{/images/logoBook.jpg}" style="width: 120px; height: 70px;"></a>
        </div>
      </div>
    </div>
    <!-- 책 종류 -->
    <div class="row mt-3 mb-3 text-center">
       <div class="col-4">
         <a href="/goods/book/domesticBooks" class="me-3 link-dark" style="font-size:17px">국내도서</a>
       </div>
       <div class="col-4">
         <a href="/goods/book/foreignBooks" class="me-3 link-dark" style="font-size:17px">외국도서</a>
       </div>
       <div class="col-4">
         <a href="/goods/music" class="me-3 link-dark" style="font-size:17px">음반</a>
       </div>
    </div>
      <div class="mb-3 border-bottom border-primary"></div>
    </div>
  </nav>
</body>
</html>