<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{/layout/header :: headFragment}"></div>
  <style>
    li {
          float: left;
       }
  </style>
</head>
<body>
<div th:replace="~{/layout/navbar :: navFragment}"></div>
  <div class="container">
    <div class="row mb-4 ms-5" style="width: 1200px;">
      <div>
        <h4 class="fw-bold mb-3">국내 도서</h4><!-- 책 카테고리에 맞게 이름 변경 (베스트, 국내도서, 외국도서, 음반) -->
      </div>
      <div class="mb-4 border-top border-dark-subtle text-end">
        <select class="mt-2 rounded-pill text-center" style="width: 140px; height: 30px;">
          <option>10개씩 보기</option>
          <option>20개씩 보기</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="mb-4">
          <ol class="prod_list">
            <!-- enhanced-for문 시작 li 5개가 한 줄 -->
            <li class="me-4 mb-4"><a href="/goods">
              <div class="text-center">
                <img scr="" style="width: 200px; height: 270px;">
                <span>
                  <h6 class="mt-3" style="font-size:15px">아주 희미한 빛으로도</h6>
                  <h6 class="text-secondary" style="font-size:12px">류재향</h6>
                  <h6 class="text-dark fw-bold" style="font-size:14px">26,000원</h6>
                </span>
              </div>
              </a>
            </li>
          </ol>
        </div>
      </div>
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>
<div th:insert="~{/layout/footer :: footerFragment}"></div>
</html>