<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{/layout/header :: headFragment}"></div>
</head>
<body>
<div th:replace="~{/layout/navbar :: navFragment}"></div>
<div class="container">
  <div class="row ms-5">
    <!-- 책 이미지 -->
    <div class="row" th:object="${music}">
      <div class="col-5 mt-5">
        <img th:src="@{|/admin/${music.fileStore.filename}|}" style="width: 450px; height: 475px; filter: drop-shadow(10px 6px 6px #c3c3c3);" >
      </div>
      <!-- 책 세부사항 -->
      <div class="col-7">
        <div class="ms-3">
          <div class="border-bottom mb-3">
            <h4 th:field="*{name}" th:text="*{name}">책 제목</h4>
            <p class="fw-light"th:field="*{author}" th:text="*{author}" >지은이</p>
          </div>
          <div class="row mb-3 border-bottom">
            <div class="col-2">
              <p class="fw-light">제작사</p>
              <p class="fw-light">출판일</p>
            </div>
            <div class="col-10">
              <p class="fw-light" th:field="*{publisher}" th:text="*{publisher}">클레이하우스</p>
              <p class="fw-light" th:field="*{publisherDate}" th:text="*{publisherDate}">2023-08-13</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <p style="font-size: 15px;">정가</p>
            </div>
            <div class="col-10">
              <p class="fw-bold"><strong style="font-size: 23px;" th:field="*{price}" th:text="*{price}">15,120</strong>원</p>
            </div>
          </div>
          <!-- 배송 -->
          <div class="row border-top border-bottom">
            <div class="mt-3">
              <p>배송 안내</p>
            </div>
            <div class="col-2">
              <p style="font-size: 15px;">배송료</p>
              <p style="font-size: 15px;">일반 배송</p>
            </div>
            <div class="col-10">
              <p style="font-size: 15px;">무료</p>
              <p style="font-size: 15px;">8월 19일 도착예정</p><!-- 자바스크립트 -->
            </div>
          </div>
          <!-- 수량 -->
          <div class="row mb-2">
            <div class="col-2">
              <p class="mt-4" style="font-size: 15px;">수량</p>
            </div>
            <div class="col-10">
              <div class="mt-3">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button id="minus" value='-' type="button" class="minus border-0 bg-white" style="height: 31.78px;">
                    <i class="bi bi-chevron-down"></i>
                  </button>
                  <input id="result" class="border-0 text-center"
                         style="width: 72.78px; height: 31.78px;" value="1"> <!-- 수량  -->
                  <button id="plus" value='+' type="button" class="plus border-0 bg-white" style="height: 31.78px;">
                    <i class="bi bi-chevron-up"></i>
                  </button>
                  <!-- 구매 수량 별로 총 상품 금액 늘어나게 설정 -->
                  <span class="ms-5">총 상품 금액
                    <p class="fw-bold text-primary"><strong id="calculatedPrice" th:text="*{price}" class="totalCost" style="font-size: 23px;"></strong>원</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <a href="/order/myCart" style=" color: #ffffff;">
                <button type="button" class="mb-1 btn btn-primary form-control" style="background-color: #196AB3;">
                  장바구니 담기
                </button>
              </a>
              <a href="/order" style=" color: #ffffff;">
                <button type="button" class="btn btn-primary form-control" style="background-color: #199DB3;">
                  바로 구매
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/

  const minus = document.getElementById("minus");                   // minus 버튼
  const plus = document.getElementById("plus");                     // plus 버튼
  var result = document.getElementById("result").value;             // 수량 결과
  var price = '[[${music.price}]]';                                  // 상품 가격
  var calculatedPrice = document.getElementById("calculatedPrice"); // 상품*수량 가격

  var count = 1;        // 수량결과를 위한 변수
  var totalPrice = 0;   // calculatedPrice를 위한 변수

  // 수량 minus 버튼을 눌렀을 때
  minus.addEventListener("click", () => {
    if (count > 1) {
        count--;
        document.getElementById("result").value = count;

        // 총 가격
        totalPrice = parseInt(price)*count;
        document.getElementById("calculatedPrice").innerText = totalPrice;
        document.getElementById("calculatedPrice").innerValue = totalPrice;

      } else if (count < 1) {
        return false;
      }
    });

  // 수량 plus 버튼을 눌렀을 때
  plus.addEventListener("click", () => {
      count++;
      document.getElementById("result").value = count;

      // 총 가격
      totalPrice = parseInt(price)*count;
      document.getElementById("calculatedPrice").innerText = totalPrice;
      document.getElementById("calculatedPrice").innerValue = totalPrice;
    });
/*]]*/
</script>
</body>
<div th:insert="~{/layout/footer :: footerFragment}"></div>
</html>