<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{layout/header :: headFragment}"></div>
    <style>
     td { height: 50px; } <!-- 살리기 -->
    </style>
</head>
<body>
<div th:replace="~{layout/navbar :: navFragment}"></div>
<div class="container">
  <div class="row mt-3">
    <div class="col-2" th:insert="~{layout/leftBar :: leftBarFragment}">
    </div>
    <div class="col-10">
      <div class="mt-3">
        <h6 class="fw-bold fs-5" style="vertical-align:middle">주문 조회/변경/취소</h6>
      </div>
      <h6 class="mt-4 mb-2"><i class="me-1 bi bi-caret-right-fill"></i>전체 주문 내역</h6>
        <div class="ms-2 mt-2 me-2 mb-2">
          <table class="ms-2 mt-2 mb-2 me-2 bg-white table-bordered border-secondary-subtle">
            <tr class="text-center bg-dark-subtle">
              <th style="width: 150px; height: 32px;">주문일</th>
              <th style="width: 100px; height: 32px;">주문번호</th>
              <th style="width: 100px; height: 32px;">수령인</th>
              <th style="width: 450px; height: 32px;">주문상품</th>
              <th style="width: 50px; height: 32px;">수량</th>
              <th style="width: 350px; height: 32px;">배송 주소</th>
            </tr>
            <tr class="text-center" th:each="order : ${orderList}">
              <td th:text="${#strings.substring(order.orderDate, 0, 9)}">2023.08.12</td>
              <td th:text="*{order.orderId}">20230816001</td>
              <td th:text="*{order.name}">YES48</td>
              <td th:text="*{order.goodsName}">책 제목</td>
              <td th:text="*{order.quantity}">상품 개수</td>
              <td th:text="*{order.address}">주소</td>
            </tr>
          </table>
        </div>
        <nav class="mt-3" aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
              <a class="page-link text-dark" th:href="@{/myPage/orderHistoryList(page=${currentPage - 1})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == currentPage} ? 'active'">
              <a class="page-link text-dark" th:text="${page}" th:href="@{/myPage/orderHistoryList(page = ${page})}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == endPage} ? 'disabled'">
              <a class="page-link text-dark" th:href="@{/myPage/orderHistoryList(page=${currentPage + 1})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
  </div>
</div>
</body>
<div th:insert="~{layout/footer :: footerFragment}"></div>
</html>