<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/layout/header :: headFragment}"></div>
    <style>
  a {
      text-decoration: none;
     }
</style>
</head>
<body>
<div th:replace="~{/layout/navbar :: navFragment}"></div>
    <div class="container">
        <div class="row mb-5">
            <h1>이벤트 페이지, 책 4개</h1>
        </div>
        <div class="row mb-5">
            <h1>편집자으이 선택, 국내 도서 등</h1>
        </div>
        <div class="row mb-5">
            <h1>베스트 셀러 Top10</h1>
        </div>
    </div>
</body>
</html>