<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <div th:replace="~{layout/header :: headFragment}"></div>
</head>
<body>
  <div th:replace="~{layout/navbar :: navFragment}"></div>
  <div class="container">
    <div class="col-6 offset-3 mt-3">
      <div>
        <p id="findPasswordTitle" class="fw-bold fs-4" style="vertical-align:middle; display: block;">비밀번호 찾기</p>
        <p id="changePasswordTitle" class="fw-bold fs-4" style="vertical-align:middle; display: none;">비밀번호 변경하기</p>
      </div>
      <div>
        <form method="post" th:action="@{/login/findPassword}" th:object="${form}">
        <div id="confirmId" class="mt-2 ms-2 me-2 mb-2">
            <input id="name" type="text" class="mb-2 form-control" placeholder="이름">
            <input id="userId" th:field="*{userId}" type="text" class="mb-2 form-control" placeholder="아이디">
            <button onclick="check()" id="confirmButton" type="button" class="bg-primary form-control" style="color: #ffffff">확인</button>
        </div>
          <div id="changePassword" class="mt-2 ms-2 me-2 mb-2" style="display:none;">
            <div>
              <input id="newPassword" type="password" th:field="*{password}" class="mb-2 form-control" placeholder="새 비밀번호">
              <input id="newPasswordConfirm" type="password" class="mb-2 form-control" placeholder="새 비밀번호 확인">
              <button id="changeButton" type="button" onclick="confirm()" class="bg-primary form-control" style="color: #ffffff">변경</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<script>
const findPasswordTitle = document.getElementById("findPasswordTitle");       // 비밀번호 찾기 타이틀
const changePasswordTitle = document.getElementById("changePasswordTitle");   // 비밀번호 변경 타이틀

var confirmId = document.getElementById("confirmId");             // 이름과 아이디 input이 있는 div 폼
var confirmButton = document.getElementById("confirmButton");     // 이름 아이디 확인 폼
var changePassword = document.getElementById("changePassword");   // 비밀번호 변경 폼

// 이름 아이디 확인
const check = () => {

  var name = document.getElementById("name").value;
  var userId = document.getElementById("userId").value;

  if (name == '') {
    alert("이름을 작성해주세요.")
    return false;
  }
  if (userId == '') {
    alert("아이디를 작성해주세요.")
    return false;
  }

  $.ajax ({
    type: "post",
    url: "/login/findPassword/checkNameAndUserId",
    data: {
      "name" : name,
      "userId" : userId
    },
    success: function(res) {

      // 이름과 아이디가 일치하면 비밀번호 변경 화면 보이기
      if (res == "ok") {
        alert("이름과 아이디가 일치합니다. 비밀번호를 변경해주세요.");
        confirmId.style.display = "none";
        findPasswordTitle.style.display = "none";
        changePassword.style.display = "block";
        changePasswordTitle.style.display = "block";

      } else {
        alert("이름과 아이디가 일치하지 않습니다.");
      }
    },
    error: function(err) {
      console.log("에러발생", err);
    }
  });
}

// 새 비밀번호와 새 비밀번호 불일치시 알림창 생성
function confirm() {
  var newPassword = document.getElementById('newPassword').value;             // 새 비밀번호 값
  var passwordConfirm = document.getElementById('newPasswordConfirm').value;  // 새 비밀번호 확인 값
  const changeButton = document.getElementById("changeButton");               // 비밀번호 변경 버튼

  if (newPassword != passwordConfirm) {
    alert("비밀번호가 일치하지 않습니다.");
    return false;
  } else {
    changeButton.setAttribute('type', 'submit');
  }
}
</script>
</body>
<div th:insert="~{layout/footer :: footerFragment}"></div>
</html>