<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
  <div th:replace="~{layout/header :: headFragment}"></div>
</head>
<body>
<div th:replace="~{layout/navbar :: navFragment}"></div>
<div class="container">
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <div class="border bg-light p-3">
        <div class="d-flex justify-content-between">
          <h5>
            <div class="fw-bold mb-3">로그인</div>
          </h5>
          <a href="/join" class="mt-4 me-1 text-decoration-none text-secondary" style="font-size: 14px;">회원가입</a>
        </div>
        <form method="post" action="/login">
          <!-- 로그인 에러 발생시 -->
          <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <span th:text="*{param.exception}"></span>
          </div>
          <div class="input-group mb-1">
            <div class="input-group-text bg-white"><i class="bi bi-person-circle"></i></div>
            <input type="text" class="form-control" name="userId" style="height: 45px;" placeholder="아이디">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-text bg-white"><i class="bi bi-lock-fill"></i></div>
            <input type="password" class="form-control" name="password" style="height: 45px;" placeholder="비밀번호">
          </div>
          <div>
            <button id="login" type="submit" style="height: 45px;" class="form-control btn btn-primary bg-primary">로그인</button>
          </div>
        </form>
        <div class="mt-1 text-end">
           <span class="border-secondary">
             <a href="/login/findId" class="me-1 text-decoration-none text-secondary" style="font-size: 14px;">아이디 찾기</a>
             <a href="/login/findPassword" class="me-1 text-decoration-none text-secondary" style="font-size: 14px;">비밀번호 찾기</a>
           </span>
        </div>
          <div class="mt-3">
            <div style="height: 47px;">
              <a href="/oauth2/authorization/google">
                  <span style="float: left">
                    <img src="/images/googleLogin.png" style="width: 45px; height: 45px;">
                  </span>
                <span class="form-control text-center" style="height: 45px;">
                    <label class="mt-1">구글 아이디로 로그인</label>
                  </span>
              </a>
            </div>
            <div class="mt-1" style="height: 47px;">
              <a href="/oauth2/authorization/naver">
                  <span style="float: left">
                    <img src="/images/naverLogin.png" style="width: 45px; height: 45px;">
                  </span>
                  <span class="form-control text-center" style="height: 45px;">
                    <label class="mt-1">네이버 아이디로 로그인</label>
                  </span>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
<div th:insert="~{layout/footer :: footerFragment}"></div>
</html>